---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";

dayjs.extend(utc);
dayjs.extend(timezone);
const asiaTzName = "Asia/Tokyo";

type Props = {
  createdAt: string;
  updatedAt: string;
};

const { createdAt, updatedAt } = Astro.props;

const getCreatedAtLocaled = () => {
  return dayjs(createdAt).tz(asiaTzName).format("YYYY年M月D日");
};

const getUpdatedAtLocaled = () => {
  return dayjs(updatedAt).tz(asiaTzName).format("YYYY年M月D日");
};

const getCreatedAtIsoLocaled = () => {
  return dayjs(createdAt).tz(asiaTzName).format("YYYY-MM-DD");
};

const getUpdatedAtIsoLocaled = () => {
  return dayjs(updatedAt).tz(asiaTzName).toISOString();
};
---

<div class="post-date mb-3 text-end">
  {
    createdAt && (
      <div class="post-date-time time-create mb-1">
        {/* pageFind用の日付 */}
        <time class="d-none" data-pagefind-meta="date">
          {getCreatedAtLocaled()}
        </time>
        <time datetime={getCreatedAtIsoLocaled()}>{getCreatedAtLocaled()}</time>
      </div>
    )
  }

  {
    updatedAt && (
      <div class="post-date-time time-update">
        <time datetime={getUpdatedAtIsoLocaled()}>{getUpdatedAtLocaled()}</time>
      </div>
    )
  }
</div>

<style lang="scss" scoped>
  @import "../styles/variables";

  .post-date {
    line-height: 1.5;
    .post-date-time {
      font-size: 0.9rem;
      white-space: nowrap;

      &::before {
        display: inline-block;
        height: 0.8rem;
        width: 0.8rem;
        margin-right: 0.5rem;
      }
    }

    .time-create {
      &::before {
        content: url(/img/pen-solid.svg);
      }
    }

    .time-update {
      &::before {
        content: url(/img/rotate-right-solid.svg);
      }
    }
  }

  @media only screen and (min-width: $hide-sidebar) {
    .post-date {
      display: none;
    }
  }
</style>
